.item {
    list-style: none;
}

.item-4 {
    border: 1px solid gray;
    height: 60px;
    width: 30%;
    color: white;
    background-color: pink;
    
}

.div-04{
    height: 300px;
}


.font {
    font-family: $font-trebuchet;
}
